{% extends "layout.html" %}

{% block content %}

<style>
    .bootstrap-select {
        width: 90% !important;
    }
</style>

{% csrf_token %}

<div class="row mt-3 mb-3" >
    <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Kingdom" id="sel-kingdom">
            {% for k in kingdoms %}
                <option>{{ k.kingdom }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Phylums" id="sel-phylum">
            {% for k in phylums %}
                {% if k.phylum %}
                    <option>{{ k.phylum }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Klass" id="sel-klass">
            {% for k in klass %}
                {% if k.klass %}
                    <option>{{ k.klass }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Order" id="sel-order">
            {% for k in orders %}
                {% if k.order %}
                    <option>{{ k.order }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Family" id="sel-family">
            {% for k in families %}
                {% if k.family %}
                    <option>{{ k.family }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-2" >
        <select class="selectpicker" title="Taxonomy" id="sel-taxonomy">
            <option>Kingdom</option>
            <option>Phylum</option>
            <option>Klass</option>
            <option>Order</option>
            <option>Family</option>
            <option>Genus</option>
        </select>
    </div>

    <!-- <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Genus" id="sel-genus">
            {% for k in genus %}
                <option>{{ k.genus }}</option>
            {% endfor %}
        </select>
    </div> -->

 </div>

 <div class="row mt-3 mb-3">
     <div class="col-3">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Genus</span>
            </div>
            <input type="text" class="form-control" id="txt-genus">
        </div>
    </div>

    <div class="col-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Rel Freq. > </span>
              </div>
            <input type="number" class="form-control" value="0.1" id="txt-rel-freq">
          </div>
     </div>

     <div class="col-3">
        <button class="btn btn-primary btn-icicle">View Icicle</button>
        <button class="btn btn-primary btn-csv">Download CSV</button>
     </div>
 </div>


<div class="row">
    <div class="col-12">
        <a class="btn btn-secondary btn-sm float-left mr-3" href="/samples"> <i class="arrow"></i>< Back</a>
        <h3>Sample Data</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12 offset-4">
        <table class="table table-striped w-25 text-center">
            <tr>
                <th>Taxonomy (<span id="selected-taxonomy"></span>)</th>
                <th>Rel. Freq</th>
            </tr>
            <tbody id="tblTaxonomies">
                
            </tbody>
            <tr class="spinner">
                <td colspan="8" align="center"><div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div></td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Kingdom</th>
                <th>Phylum</th>
                <th>Klass</th>
                <th>Order</th>
                <th>Family</th>
                <th>Genus</th>
                <th>Counts</th>
                <th>Rel. Freq</th>
            </tr>
            <tbody id="tblSampleData">
                
            </tbody>
            <tr class="spinner">
                <td colspan="8" align="center"><div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div></td>
            </tr>
        </table>

        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"></a></li>
        </ul>

        <div id="chart">

        </div>
    </div>
</div>

<script src="//d3js.org/d3.v4.min.js"></script>

<script>

    var currentRequest = null;

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", jQuery("[name=csrfmiddlewaretoken]").val());
            }

            if(currentRequest != null) {
                currentRequest.abort();
            }
        }
    });

    function drawIcicle() {

        $('#chart').html('');

        var width = $('#chart').width(),
            height = 600;

        var x = d3.scaleLinear()
            .range([0, width]);

        var y = d3.scaleLinear()
            .range([0, height]);

        var partition = data => {
            const root = d3.hierarchy(data)
                .sum(d => +d.counts)
                .sort((a, b) => b.height - a.height || b.counts - a.counts);  
            return d3.partition()
                .size([height, (root.height + 1) * width / 3])
                (root);
        }

        var svg = d3.select("#chart").append("svg")
            .attr("width", width)
            .attr("height", height);

        root = tableToJson();
        console.log(root);

        groupedData = d3.nest()
            .key(function (d) { return d.kingdom; })
            .key(function (d) { return d.phylum; })
            .key(function (d) { return d.klass; })
            .key(function (d) { return d.order; })
            .key(function (d) { return d.family; })
            .key(function (d) { return d.genus; })
            .entries(root);

        if(groupedData[0].key == '')
            groupedData.shift();

        var data = convertData(groupedData)
        data = data[0];
        console.log(JSON.stringify(data, null, 1))


        root = partition(data)
        focus = root

        var color = d3.scaleOrdinal(d3.quantize(d3.interpolateRainbow, 12 + 1))
        var format = d3.format(",d")

        const cell = svg
            .selectAll("g")
            .data(root.descendants())
            .enter().append("g")
            .attr("transform", d => `translate(${d.y0},${d.x0})`);

        const rect = cell.append("rect")
            .attr("width", d => d.y1 - d.y0 - 1)
            .attr("height", d => rectHeight(d))
            .attr("fill-opacity", 0.6)
            .attr("fill", d => {
                if (!d.depth) return "#ccc";
                while (d.depth > 1) d = d.parent;
                return color(d.data.name);
            })
            .style("cursor", "pointer")
            .on("click", clicked);

        const text = cell.append("text")
            .style("user-select", "none")
            .attr("pointer-events", "none")
            .attr("x", 4)
            .attr("y", 13)
            .attr("fill-opacity", d => +labelVisible(d));

        text.append("tspan")
            .text(d => d.data.name);

        const tspan = text.append("tspan")
            .attr("fill-opacity", d => labelVisible(d) * 0.7)
            .text(d => ` ${format(d.value)}`);

        cell.append("title")
            .text(d => `${d.ancestors().map(d => d.data.name).reverse().join("/")}\n${format(d.value)}`);

        function clicked(p) {
            console.log("0000")
            console.log(p)
            focus = focus === p ? p = p.parent : p;

            root.each(d => d.target = {
                x0: (d.x0 - p.x0) / (p.x1 - p.x0) * height,
                x1: (d.x1 - p.x0) / (p.x1 - p.x0) * height,
                y0: d.y0 - p.y0,
                y1: d.y1 - p.y0
            });

            const t = cell.transition().duration(750)
                .attr("transform", d => {
                    return `translate(${d.target.y0},${d.target.x0})`
                });

            rect.transition(t).attr("height", d => rectHeight(d.target));
            text.transition(t).attr("fill-opacity", d => +labelVisible(d.target));
            tspan.transition(t).attr("fill-opacity", d => labelVisible(d.target) * 0.7);
        }
        
        function rectHeight(d) {
            return d.x1 - d.x0 - Math.min(1, (d.x1 - d.x0) / 2);
        }

        function labelVisible(d) {
            return d.y1 <= width && d.y0 >= 0 && d.x1 - d.x0 > 16;
        }
    }

    function convertData(data) {
        var converted = data.map((kingdom) => {
            return {name:kingdom.key, children: kingdom.values.map((phylum) => {
                return {name:phylum.key, children: phylum.values.map((klass) => {
                    return {name:klass.key, children: klass.values.map((order) => {
                        return {name:order.key, children: order.values.map((family) => {
                            return {name:family.key, children:family.values.map((f) => {
                                return {name:f.key, children:f.values};
                            })}
                        })}
                    })}
                })}
            })}
        })
        return converted;
    }

    function tableToJson() {
        var data = [];
        var rows = $("table tr:visible");

        var headings = $(rows[i]).find("th");
                
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = $(rows[i]).find("td");
                    
            data.push({
                kingdom: $(cols[0]).text(),
                phylum: $(cols[1]).text(),
                klass: $(cols[2]).text(),
                order: $(cols[3]).text(),
                family: $(cols[4]).text(),
                genus: $(cols[5]).text(),
                counts: $(cols[6]).text(),
                relfreq: $(cols[7]).text(),
            });
        }
        return data;
    }

    function htmlToCSV(filename) {
        var data = [];
        var rows = $("table tr:visible");
                
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = $(rows[i]).find("td, th");
                    
            for (var j = 0; j < cols.length; j++) {
                row.push($(cols[j]).text());
            }
                    
            data.push(row.join(","));	
        }
        downloadCSVFile(data.join("\n"), filename);
    }

    function downloadCSVFile(csv, filename) {
        var csv_file, download_link;
        csv_file = new Blob([csv], {type: "text/csv"});
        download_link = document.createElement("a");
        download_link.download = filename;
        download_link.href = window.URL.createObjectURL(csv_file);
        download_link.style.display = "none";
        document.body.appendChild(download_link);
        download_link.click();
    }

    $(document).ready(function() {
        // make contains case insensitive
        jQuery.expr[':'].contains = function(a, i, m) {
            return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
        };

        function filterRecords(csv = false) {

            var params = {
                'page': $('.page-item.active').text() ? $('.page-item.active').text() : 1
            };

            if($('#txt-genus').val()) {
                params['genus'] = $('#txt-genus').val()
            }

            if($('#sel-kingdom').val().length > 0) {
                params['kingdom'] = $('#sel-kingdom').val()
            }

            if($('#sel-phylum').val().length > 0) {
                params['phylum'] = $('#sel-phylum').val()
            }

            if($('#sel-klass').val().length > 0) {
                params['klass'] = $('#sel-klass').val()
            }

            if($('#sel-order').val().length > 0) {
                params['order'] = $('#sel-order').val()
            }

            if($('#sel-family').val().length > 0) {
                params['family'] = $('#sel-family').val()
            }

            if(csv) {
                params['csv'] = csv;
            }

            params['rel_freq'] = $('#txt-rel-freq').val()

            if(!csv) {
                $('#tblSampleData, .pagination, #chart').html('');
                $('.spinner').show();
            }

            currentRequest = $.ajax({
                url: "/sample/{{ sample_id }}",
                type: "post",
                data: params,
                //dataType: 'json',
                success: function (response) {
                    $('.spinner').hide();
                    if(!csv) {
                        console.log(response)
                        for(let row of response.results) {
                            $('#tblSampleData').append(`<tr>
                                <td>${row.kingdom}</td>
                                <td>${row.phylum}</td>
                                <td>${row.klass}</td>
                                <td>${row.order}</td>
                                <td>${row.family}</td>
                                <td>${row.genus}</td>
                                <td>${row.counts}</td>
                                <td>${parseFloat(row.rel_freq).toFixed(4)}</td>
                            </tr>`);
                        }

                        for(let i of response.page_range) {
                            $('.pagination').append(`<li class="page-item ${response.page==i?'active':''}"><a class="page-link" href="javascript:;">${i}</a></li>`);
                        }
                    } else {
                        var element = document.createElement('a');
                        element.href = 'data:text/csv;charset=utf-8,' + encodeURI(response);
                        element.target = '_blank';
                        element.download = 'csv_data.csv';
                        element.click();
                        $(element).remove();
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }

        $('#txt-genus').on('change keyup', function() {
            filterRecords();
        })

        $('#txt-rel-freq').on('change keyup', function() {
            filterRecords();
        })

        $('#sel-kingdom, #sel-phylum, #sel-klass, #sel-order, #sel-family').on('change', function(e) {
            filterRecords();
        })

        $('.btn-icicle').click(function(e) {
            drawIcicle();
        })

        $('.btn-csv').click(function(e) {
            //htmlToCSV("Sample Data.csv");
            filterRecords(true)
        })

        $('#sel-taxonomy').on('change', function(e) {
            var taxonomy = $(this).val()
            $('#selected-taxonomy').html(taxonomy);
            $.ajax({
                url: "/sample/{{ sample_id }}",
                type: "post",
                data: {
                    taxonomy:taxonomy.toLowerCase()
                },
                //dataType: 'json',
                success: function (response) {
                    $('.spinner').hide();
                    $('#tblTaxonomies').html('');
                    console.log(response)
                    for(let row of response.taxonomy_data) {
                        $('#tblTaxonomies').append(`<tr>
                            <td>${row[0]}</td>
                            <td>${parseFloat(row[1]).toFixed(4)}</td>
                        </tr>`);
                    }
                    
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        })

        $('body').on('click', '.page-item', function(e) {
            $('.page-item').removeClass('active')
            $(this).addClass('active')
            filterRecords();
        })

        filterRecords();
    });
</script>

{% endblock content %}
