{% extends "layout.html" %}

{% block content %}

<style>
    .bootstrap-select {
        width: 90% !important;
    }
</style>

<div class="row mt-3 mb-3" >
    <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Kingdom" id="sel-kingdom">
            {% for k in kingdoms %}
                <option>{{ k.kingdom }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Phylums" id="sel-phylum">
            {% for k in phylums %}
                <option>{{ k.phylum }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Klass" id="sel-klass">
            {% for k in klass %}
                <option>{{ k.klass }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Order" id="sel-order">
            {% for k in orders %}
                <option>{{ k.order }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Family" id="sel-family">
            {% for k in families %}
                <option>{{ k.family }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- <div class="col-sm-2" >
        <select class="selectpicker" multiple title="Genus" id="sel-genus">
            {% for k in genus %}
                <option>{{ k.genus }}</option>
            {% endfor %}
        </select>
    </div> -->

 </div>

 <div class="row mt-3 mb-3">
     <div class="col-3">
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">Genus</span>
            </div>
            <input type="text" class="form-control" id="txt-genus">
        </div>
    </div>

    <div class="col-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Rel Freq. > </span>
              </div>
            <input type="number" class="form-control" value="0.1" id="txt-rel-freq">
          </div>
     </div>

     <div class="col-3">
        <button class="btn btn-primary btn-icicle">View Icicle</button>
        <button class="btn btn-primary btn-csv">Download CSV</button>
     </div>
 </div>


<div class="row">
    <div class="col-12">
        <h3>Sample Data</h3>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>Kingdom</th>
                <th>Phylum</th>
                <th>Klass</th>
                <th>Order</th>
                <th>Family</th>
                <th>Genus</th>
                <th>Counts</th>
                <th>Rel. Freq</th>
            </tr>
            <tbody id="tblSampleData">
                {% for s in sample_data %}
                    <tr>
                        <td class="kingdom">{{ s.kingdom }}</td>
                        <td class="phylum">{{ s.phylum }}</td>
                        <td class="klass">{{ s.klass }}</td>
                        <td class="order">{{ s.order }}</td>
                        <td class="family">{{ s.family }}</td>
                        <td class="genus">{{ s.genus }}</td>
                        <td class="counts">{{ s.counts }}</td>
                        <td class="relfreq"><small>{{ s.rel_freq|floatformat:4 }}</small></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div id="chart">

        </div>
    </div>
</div>

<script src="//d3js.org/d3.v4.min.js"></script>

<script>

    function drawIcicle() {

        var width = $('#chart').width(),
            height = 600;

        var x = d3.scaleLinear()
            .range([0, width]);

        var y = d3.scaleLinear()
            .range([0, height]);

        var partition = data => {
            const root = d3.hierarchy(data)
                .sum(d => +d.counts)
                .sort((a, b) => b.height - a.height || b.counts - a.counts);  
            return d3.partition()
                .size([height, (root.height + 1) * width / 3])
                (root);
        }

        var svg = d3.select("#chart").append("svg")
            .attr("width", width)
            .attr("height", height);

        root = tableToJson();
        console.log(root);

        groupedData = d3.nest()
            .key(function (d) { return d.kingdom; })
            .key(function (d) { return d.phylum; })
            .key(function (d) { return d.klass; })
            .key(function (d) { return d.order; })
            .key(function (d) { return d.family; })
            .key(function (d) { return d.genus; })
            .entries(root);

        if(groupedData[0].key == '')
            groupedData.shift();

        var data = convertData(groupedData)
        data = data[0];
        console.log(JSON.stringify(data, null, 1))


        root = partition(data)
        focus = root

        var color = d3.scaleOrdinal(d3.quantize(d3.interpolateRainbow, 12 + 1))
        var format = d3.format(",d")

        const cell = svg
            .selectAll("g")
            .data(root.descendants())
            .enter().append("g")
            .attr("transform", d => `translate(${d.y0},${d.x0})`);

        const rect = cell.append("rect")
            .attr("width", d => d.y1 - d.y0 - 1)
            .attr("height", d => rectHeight(d))
            .attr("fill-opacity", 0.6)
            .attr("fill", d => {
                if (!d.depth) return "#ccc";
                while (d.depth > 1) d = d.parent;
                return color(d.data.name);
            })
            .style("cursor", "pointer")
            .on("click", clicked);

        const text = cell.append("text")
            .style("user-select", "none")
            .attr("pointer-events", "none")
            .attr("x", 4)
            .attr("y", 13)
            .attr("fill-opacity", d => +labelVisible(d));

        text.append("tspan")
            .text(d => d.data.name);

        const tspan = text.append("tspan")
            .attr("fill-opacity", d => labelVisible(d) * 0.7)
            .text(d => ` ${format(d.value)}`);

        cell.append("title")
            .text(d => `${d.ancestors().map(d => d.data.name).reverse().join("/")}\n${format(d.value)}`);

        function clicked(p) {
            console.log("0000")
            console.log(p)
            focus = focus === p ? p = p.parent : p;

            root.each(d => d.target = {
                x0: (d.x0 - p.x0) / (p.x1 - p.x0) * height,
                x1: (d.x1 - p.x0) / (p.x1 - p.x0) * height,
                y0: d.y0 - p.y0,
                y1: d.y1 - p.y0
            });

            const t = cell.transition().duration(750)
                .attr("transform", d => {
                    return `translate(${d.target.y0},${d.target.x0})`
                });

            rect.transition(t).attr("height", d => rectHeight(d.target));
            text.transition(t).attr("fill-opacity", d => +labelVisible(d.target));
            tspan.transition(t).attr("fill-opacity", d => labelVisible(d.target) * 0.7);
        }
        
        function rectHeight(d) {
            return d.x1 - d.x0 - Math.min(1, (d.x1 - d.x0) / 2);
        }

        function labelVisible(d) {
            return d.y1 <= width && d.y0 >= 0 && d.x1 - d.x0 > 16;
        }
    }

    function convertData(data) {
        var converted = data.map((kingdom) => {
            return {name:kingdom.key, children: kingdom.values.map((phylum) => {
                return {name:phylum.key, children: phylum.values.map((klass) => {
                    return {name:klass.key, children: klass.values.map((order) => {
                        return {name:order.key, children: order.values.map((family) => {
                            return {name:family.key, children:family.values.map((f) => {
                                return {name:f.key, children:f.values};
                            })}
                        })}
                    })}
                })}
            })}
        })
        return converted;
    }

    function tableToJson() {
        var data = [];
        var rows = $("table tr:visible");

        var headings = $(rows[i]).find("th");
                
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = $(rows[i]).find("td");
                    
            data.push({
                kingdom: $(cols[0]).text(),
                phylum: $(cols[1]).text(),
                klass: $(cols[2]).text(),
                order: $(cols[3]).text(),
                family: $(cols[4]).text(),
                genus: $(cols[5]).text(),
                counts: $(cols[6]).text(),
                relfreq: $(cols[7]).text(),
            });
        }
        return data;
    }

    function htmlToCSV(filename) {
        var data = [];
        var rows = $("table tr:visible");
                
        for (var i = 0; i < rows.length; i++) {
            var row = [], cols = $(rows[i]).find("td, th");
                    
            for (var j = 0; j < cols.length; j++) {
                row.push($(cols[j]).text());
            }
                    
            data.push(row.join(","));	
        }
        downloadCSVFile(data.join("\n"), filename);
    }

    function downloadCSVFile(csv, filename) {
        var csv_file, download_link;
        csv_file = new Blob([csv], {type: "text/csv"});
        download_link = document.createElement("a");
        download_link.download = filename;
        download_link.href = window.URL.createObjectURL(csv_file);
        download_link.style.display = "none";
        document.body.appendChild(download_link);
        download_link.click();
    }

    $(document).ready(function() {
        // make contains case insensitive
        jQuery.expr[':'].contains = function(a, i, m) {
            return jQuery(a).text().toUpperCase()
                .indexOf(m[3].toUpperCase()) >= 0;
        };

        function filterRecords() {
            $('#tblSampleData tr').show();

            if($('#txt-genus').val())
                $('#tblSampleData .genus:not(:contains("' + $('#txt-genus').val() + '"))').parent().hide();

            $('#tblSampleData tr').each(function(index, el) {

                if($('#sel-kingdom').val().length > 0) {
                    if($.inArray($(el).find('.kingdom').text(), $('#sel-kingdom').val()) == -1) {
                        $(el).hide();
                    }
                }

                if($('#sel-phylum').val().length > 0) {
                    if($.inArray($(el).find('.phylum').text(), $('#sel-phylum').val()) == -1) {
                        $(el).hide();
                    }
                }

                if($('#sel-klass').val().length > 0) {
                    if($.inArray($(el).find('.klass').text(), $('#sel-klass').val()) == -1) {
                        $(el).hide();
                    }
                }

                if($('#sel-order').val().length > 0) {
                    if($.inArray($(el).find('.order').text(), $('#sel-order').val()) == -1) {
                        $(el).hide();
                    }
                }

                if($('#sel-family').val().length > 0) {
                    if($.inArray($(el).find('.family').text(), $('#sel-family').val()) == -1) {
                        $(el).hide();
                    }
                }

                if(Number($(el).find('.relfreq').text()) <= Number($('#txt-rel-freq').val())) {
                    $(el).hide();
                }
            });
        }

        $('#txt-genus').on('change keyup', function() {
            filterRecords();
        })

        $('#txt-rel-freq').on('change keyup', function() {
            filterRecords();
        })

        $('#sel-kingdom, #sel-phylum, #sel-klass, #sel-order, #sel-family').on('change', function(e) {
            filterRecords();
        })

        $('.btn-icicle').click(function(e) {
            drawIcicle();
        })

        $('.btn-csv').click(function(e) {
            htmlToCSV("Sample Data.csv");
        })
    });
</script>

{% endblock content %}
